/* Title */
.title {
    font-size: 50px;
    font-weight: 500;
    color: white;

    text-align: center;
}



/* Releases */
.releases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.release {
    width: 400px;

    border: 1px solid gray;

    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.release .name {
    color: white;

    border-bottom: 1px solid gray;

    padding: 10px;
    margin: 0px;

    text-align: center;
}

.release .image {
    width: 100%;
    
    padding: 10px;
}

.release .image img {
    width: 100%;
    height: auto;

    border: 2px solid gray;
    border-radius: 100%;
}

.release a {
    text-decoration: none;

    margin: 10px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.release a p {
    color: white;

    width: 100px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;

    margin: 0px;

    text-align: center;

    transition: all 0.5s ease;
}
.release a p:hover {
    color: gray;
    width: 70px;
}



/* Live Sets */
.live-sets {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.live-set {
    margin: 30px 50px;

    border: 1px solid gray;
}

.live-set p {
    color: white;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 10px;
}



/* Media */
@media (max-width: 600px) {
    .title {
        font-size: 30px;
    }
    .releases {
        flex-direction: column;
    }
    .release {
        width: 300px;
    }
    .live-set {
        margin-bottom: 5px;
    }
    .live-set iframe {
        width: 300px;
        height: auto;
    }
}